Source_code/Node-red_code.json
[
    {
        "id": "3d63740c0bb883c6",
        "type": "tab",
        "label": "Smart Bin",
        "disabled": false,
        "info": "Smart Wet & Dry Segregator Dustbin — BMIT2123 RDS1S3G2"
    },
    {
        "id": "eb53c4d569faed1a",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "bin/levels",
        "topic": "smartbin/bin/levels",
        "qos": "1",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 80,
        "wires": [
            [
                "02d0634a9c36f31a"
            ]
        ]
    },
    {
        "id": "7606e8f128ed8e96",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "environment",
        "topic": "smartbin/environment",
        "qos": "1",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "02d0634a9c36f31a"
            ]
        ]
    },
    {
        "id": "a60ab601f597b1c7",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "alerts",
        "topic": "smartbin/alerts",
        "qos": "1",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 200,
        "wires": [
            [
                "02d0634a9c36f31a"
            ]
        ]
    },
    {
        "id": "1bc3bb5bb1430318",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "sort/event",
        "topic": "smartbin/sort/event",
        "qos": "1",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 260,
        "wires": [
            [
                "02d0634a9c36f31a"
            ]
        ]
    },
    {
        "id": "01382bc8dca702cd",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "heartbeat",
        "topic": "smartbin/system/heartbeat",
        "qos": "1",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "02d0634a9c36f31a"
            ]
        ]
    },
    {
        "id": "3a358a52d67029e4",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "control/log",
        "topic": "smartbin/control/log",
        "qos": "0",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 380,
        "wires": [
            [
                "02d0634a9c36f31a"
            ]
        ]
    },
    {
        "id": "02d0634a9c36f31a",
        "type": "function",
        "z": "3d63740c0bb883c6",
        "name": "Merge into shared state",
        "func": "// Read current shared state (persists across messages)\nlet s = flow.get('binState') || {\n  wet_pct: 0, dry_pct: 0,\n  wet_dist: 17, dry_dist: 17,\n  wet_status: 'OK', dry_status: 'OK',\n  temp_c: 0, humid_pct: 0, leak: false,\n  total_sorted: 0, total_wet: 0, total_dry: 0,\n  uptime_s: 0,\n  last_alert: '',\n  last_sort: '',\n  _prev_wet_status: 'OK',\n  _prev_dry_status: 'OK',\n  log: []\n};\n\n// Handle payload as either a raw JSON string OR an already-parsed object.\n// Some MQTT nodes (e.g. datatype:auto-detect) pre-parse the JSON so\n// msg.payload arrives as an object instead of a string.\nlet data;\ntry {\n  data = (typeof msg.payload === 'object' && msg.payload !== null)\n    ? msg.payload\n    : JSON.parse(msg.payload);\n} catch(e) { return null; }\n\nconst now = new Date().toLocaleTimeString('en-GB', { hour12: false });\n\nfunction pushLog(text, level) {\n  s.log.unshift({ time: now, msg: text, level: level || 'info' });\n  if (s.log.length > 50) s.log.pop();\n}\n\n// ── Bin levels ──────────────────────────────────────────────────\nif (msg.topic === 'smartbin/bin/levels') {\n  s.wet_pct  = typeof data.wet_pct  === 'number' ? parseFloat(data.wet_pct.toFixed(2))  : s.wet_pct;\n  s.dry_pct  = typeof data.dry_pct  === 'number' ? parseFloat(data.dry_pct.toFixed(2))  : s.dry_pct;\n  s.wet_dist = typeof data.wet_dist === 'number' ? parseFloat(data.wet_dist.toFixed(1)) : s.wet_dist;\n  s.dry_dist = typeof data.dry_dist === 'number' ? parseFloat(data.dry_dist.toFixed(1)) : s.dry_dist;\n\n  const newWetStatus = data.wet_status || s.wet_status;\n  const newDryStatus = data.dry_status || s.dry_status;\n\n  if (newWetStatus === 'NEAR_FULL' && s._prev_wet_status !== 'NEAR_FULL') {\n    pushLog('Wet bin nearly full (' + s.wet_pct.toFixed(0) + '%) — consider replacing soon', 'warn');\n  }\n  if (newDryStatus === 'NEAR_FULL' && s._prev_dry_status !== 'NEAR_FULL') {\n    pushLog('Dry bin nearly full (' + s.dry_pct.toFixed(0) + '%) — consider replacing soon', 'warn');\n  }\n  if (newWetStatus === 'OK' && s._prev_wet_status !== 'OK') {\n    pushLog('Wet bin cleared — back to normal', 'info');\n  }\n  if (newDryStatus === 'OK' && s._prev_dry_status !== 'OK') {\n    pushLog('Dry bin cleared — back to normal', 'info');\n  }\n\n  s._prev_wet_status = newWetStatus;\n  s._prev_dry_status = newDryStatus;\n  s.wet_status = newWetStatus;\n  s.dry_status = newDryStatus;\n}\n\n// ── Environment ─────────────────────────────────────────────────\nelse if (msg.topic === 'smartbin/environment') {\n  s.temp_c    = typeof data.temp_c    === 'number' ? parseFloat(data.temp_c.toFixed(1))    : s.temp_c;\n  s.humid_pct = typeof data.humid_pct === 'number' ? parseFloat(data.humid_pct.toFixed(1)) : s.humid_pct;\n  s.leak      = !!data.leak;\n}\n\n// ── Alerts ──────────────────────────────────────────────────────\nelse if (msg.topic === 'smartbin/alerts') {\n  const labels = {\n    BIN_FULL:      '🗑 Bin Full — please replace immediately',\n    FIRE_RISK:     '🔥 FIRE RISK — temperature exceeded 50°C!',\n    LIQUID_LEAK:   '💧 Liquid Leak — float switch triggered',\n    TEMP_WARNING:  '🌡 Temp Warning — temperature 45–50°C',\n    HIGH_HUMIDITY: '💦 High Humidity — above 80%'\n  };\n  const level = ['FIRE_RISK','LIQUID_LEAK'].includes(data.type) ? 'alert'\n               : ['BIN_FULL','TEMP_WARNING','HIGH_HUMIDITY'].includes(data.type) ? 'warn'\n               : 'info';\n  s.last_alert = labels[data.type] || data.type;\n  pushLog(s.last_alert, level);\n}\n\n// ── Sort events ─────────────────────────────────────────────────\nelse if (msg.topic === 'smartbin/sort/event') {\n  s.total_sorted = data.total_sorted || s.total_sorted;\n  s.total_wet    = data.total_wet    || s.total_wet;\n  s.total_dry    = data.total_dry    || s.total_dry;\n  const typeIcon = data.type === 'WET' ? '💧' : '📦';\n  const sortMsg  = typeIcon + ' ' + (data.type || '?') + ' waste sorted — total: ' + s.total_sorted;\n  s.last_sort    = sortMsg;\n  pushLog(sortMsg, 'info');\n}\n\n// ── Heartbeat — update uptime silently, NO log entry ───────────\nelse if (msg.topic === 'smartbin/system/heartbeat') {\n  s.uptime_s     = data.uptime_s     || s.uptime_s;\n  s.total_sorted = data.total_sorted || s.total_sorted;\n}\n\n// ── Control log from Firebase bridge ───────────────────────────\nelse if (msg.topic === 'smartbin/control/log') {\n  pushLog(data.msg || 'Dashboard action', data.level || 'info');\n}\n\nflow.set('binState', s);\nreturn { payload: s, topic: msg.topic };\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 200,
        "wires": [
            [
                "45a3ce76f45de344",
                "6ca1875c9e6b840c"
            ]
        ]
    },
    {
        "id": "45a3ce76f45de344",
        "type": "function",
        "z": "3d63740c0bb883c6",
        "name": "firebase live",
        "func": "msg.method = \"PUT\";\nmsg.url = \"https://smart-bin-78f35-default-rtdb.asia-southeast1.firebasedatabase.app/smartbin/live/bin01.json\";\n\nmsg.headers = {\n    \"Content-Type\": \"application/json\"\n};\n\n// Format: \"2026-04-07 15:57:46 UTC\"  (no T, no milliseconds)\nvar ts = new Date().toISOString().replace('T', ' ').replace(/\\.\\d{3}Z$/, ' UTC');\n\nmsg.payload = {\n    ...msg.payload,\n    updated_at: ts\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 160,
        "wires": [
            [
                "8607ceb6ebef881d"
            ]
        ]
    },
    {
        "id": "8607ceb6ebef881d",
        "type": "http request",
        "z": "3d63740c0bb883c6",
        "name": "PUT Firebase /live",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 810,
        "y": 160,
        "wires": [
            [
                "30d824d5116258d3"
            ]
        ]
    },
    {
        "id": "30d824d5116258d3",
        "type": "debug",
        "z": "3d63740c0bb883c6",
        "name": "Firebase live debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 160,
        "wires": []
    },
    {
        "id": "6ca1875c9e6b840c",
        "type": "function",
        "z": "3d63740c0bb883c6",
        "name": "firebase history POST",
        "func": "if (msg.topic !== 'smartbin/sort/event' && msg.topic !== 'smartbin/alerts') return null;\n\nvar s = flow.get('binState') || {};\n// Key = ISO timestamp e.g. 2026-04-07T15:57:46 (human-readable, sorts correctly)\nvar key = new Date().toISOString().replace(/\\.\\d{3}Z$/, '');\n\nmsg.method  = \"PUT\";\nmsg.url     = \"https://smart-bin-78f35-default-rtdb.asia-southeast1.firebasedatabase.app/smartbin/history/bin01/\" + key + \".json\";\nmsg.headers = { \"Content-Type\": \"application/json\" };\nvar ts = new Date().toISOString().replace('T', ' ').replace(/\\.\\d{3}Z$/, ' UTC');\nmsg.payload = {\n    time:         ts,\n    event:        msg.topic === 'smartbin/sort/event' ? 'sort' : 'alert',\n    temp_c:       s.temp_c       || 0,\n    humid_pct:    s.humid_pct    || 0,\n    wet_pct:      s.wet_pct      || 0,\n    dry_pct:      s.dry_pct      || 0,\n    total_sorted: s.total_sorted || 0,\n    total_wet:    s.total_wet    || 0,\n    total_dry:    s.total_dry    || 0\n};\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 260,
        "wires": [
            [
                "0c4155f931e2c452"
            ]
        ]
    },
    {
        "id": "0c4155f931e2c452",
        "type": "http request",
        "z": "3d63740c0bb883c6",
        "name": "PUT Firebase /history",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 820,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "9a9b05cf3724d0f9",
        "type": "mqtt out",
        "z": "3d63740c0bb883c6",
        "name": "control publish",
        "topic": "",
        "qos": "1",
        "retain": false,
        "broker": "mqtt_broker",
        "x": 1060,
        "y": 440,
        "wires": []
    },
    {
        "id": "d3728eb9eff8b4ba",
        "type": "debug",
        "z": "3d63740c0bb883c6",
        "name": "control debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 380,
        "wires": []
    },
    {
        "id": "inject_firebase_poll",
        "type": "inject",
        "z": "3d63740c0bb883c6",
        "name": "Poll Firebase /control (2s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "get_firebase_control"
            ]
        ]
    },
    {
        "id": "get_firebase_control",
        "type": "http request",
        "z": "3d63740c0bb883c6",
        "name": "GET Firebase /control",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://smart-bin-78f35-default-rtdb.asia-southeast1.firebasedatabase.app/smartbin/control.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 460,
        "wires": [
            [
                "parse_firebase_ctrl"
            ]
        ]
    },
    {
        "id": "parse_firebase_ctrl",
        "type": "function",
        "z": "3d63740c0bb883c6",
        "name": "Parse Firebase control → MQTT",
        "func": "// Receives GET response from Firebase /smartbin/control.json\n// payload is the parsed JSON object (or null if no pending commands)\nvar ctrl = msg.payload;\n\n// null means no pending commands — nothing to do\nif (!ctrl || typeof ctrl !== 'object' || Array.isArray(ctrl)) return null;\n\nvar topicMap = {\n    'servo':    'smartbin/control/servo',\n    'dht11':    'smartbin/control/dht11',\n    'led':      'smartbin/control/led',\n    'moisture': 'smartbin/control/moisture'\n};\n\nvar mqttMsgs = [];\nvar hasAny = false;\n\nfor (var key in ctrl) {\n    if (ctrl[key] !== null && ctrl[key] !== undefined && topicMap[key]) {\n        hasAny = true;\n        var body = ctrl[key];\n\n        // MQTT control message\n        mqttMsgs.push({\n            topic: topicMap[key],\n            payload: typeof body === 'string' ? body : JSON.stringify(body)\n        });\n\n        // Build activity log entry\n        var logText = '';\n        var logLevel = 'info';\n        if (key === 'servo') {\n            logText = '⚙ Servo updated — Dry: ' + (body.dry_deg || '?') + '°  Wet: ' + (body.wet_deg || '?') + '°';\n        } else if (key === 'dht11') {\n            logText = '🌡 DHT11 sensor ' + (body.enabled ? 'enabled' : 'disabled') + ' from dashboard';\n            logLevel = body.enabled ? 'info' : 'warn';\n        } else if (key === 'led') {\n            logText = '💡 LED indicators ' + (body.enabled ? 'enabled' : 'disabled') + ' from dashboard';\n            logLevel = body.enabled ? 'info' : 'warn';\n        } else if (key === 'moisture') {\n            logText = '💧 Moisture sensor ' + (body.enabled ? 'enabled' : 'disabled') + ' from dashboard';\n            if (!body.enabled) logText += ' (forced DRY mode)';\n            logLevel = body.enabled ? 'info' : 'warn';\n        }\n        if (logText) {\n            mqttMsgs.push({\n                topic: 'smartbin/control/log',\n                payload: JSON.stringify({ msg: logText, level: logLevel })\n            });\n        }\n    }\n}\n\nif (!hasAny) return null;\n\n// Build PATCH request to clear all processed control keys from Firebase\n// Setting a key to null via PATCH removes it in Firebase REST API\nvar clearObj = {};\nfor (var k in ctrl) { clearObj[k] = null; }\n\nvar patchMsg = {\n    method: 'PATCH',\n    url: 'https://smart-bin-78f35-default-rtdb.asia-southeast1.firebasedatabase.app/smartbin/control.json',\n    headers: { 'Content-Type': 'application/json' },\n    payload: clearObj\n};\n\nnode.warn('Firebase control received: ' + JSON.stringify(ctrl));\n\n// Output 1: array of MQTT messages (control + log)\n// Output 2: PATCH message to clear Firebase control\nreturn [mqttMsgs, patchMsg];\n",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 460,
        "wires": [
            [
                "9a9b05cf3724d0f9",
                "d3728eb9eff8b4ba"
            ],
            [
                "clear_firebase_ctrl"
            ]
        ]
    },
    {
        "id": "clear_firebase_ctrl",
        "type": "http request",
        "z": "3d63740c0bb883c6",
        "name": "PATCH Firebase /control (clear)",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 960,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "EMQX Cloud",
        "broker": "m2e87f21.ala.asia-southeast1.emqxsl.com",
        "port": "8883",
        "clientid": "nodered_smartbin",
        "autoConnect": true,
        "usetls": true,
        "tls": "tls_emqx",
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "credentials": {
            "user": "smartbin",
            "password": "smartbin06$"
        },
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "tls_emqx",
        "type": "tls-config",
        "name": "EMQX TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "emqxsl-ca.crt",
        "servername": "m2e87f21.ala.asia-southeast1.emqxsl.com",
        "verifyservercert": true
    },
    {
        "id": "mqtt_in_sync_req",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "request_sync",
        "topic": "smartbin/request_sync",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 640,
        "wires": [
            ["fn_handle_sync"]
        ]
    },
    {
        "id": "fn_handle_sync",
        "type": "function",
        "z": "3d63740c0bb883c6",
        "name": "Prepare sync GET",
        "func": "// Step 1 of 3: save ESP32 date, then fetch live data from Firebase.\n// flow.get('binState') is in-memory and resets when Node-RED restarts,\n// so Firebase is the only reliable source of truth across device changes.\nvar data = {};\ntry {\n    data = (typeof msg.payload === 'object' && msg.payload !== null)\n        ? msg.payload : JSON.parse(msg.payload);\n} catch(e) {}\n\nflow.set('sync_esp_date', data.date || '');\n\nmsg.method = 'GET';\nmsg.url    = 'https://smart-bin-78f35-default-rtdb.asia-southeast1.firebasedatabase.app/smartbin/live/bin01.json';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 640,
        "wires": [
            ["http_get_live_sync"]
        ]
    },
    {
        "id": "http_get_live_sync",
        "type": "http request",
        "z": "3d63740c0bb883c6",
        "name": "GET Firebase live (sync)",
        "method": "use",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "authType": "",
        "senderr": false,
        "credentials": {},
        "x": 560,
        "y": 640,
        "wires": [
            ["fn_build_sync_response"]
        ]
    },
    {
        "id": "fn_build_sync_response",
        "type": "function",
        "z": "3d63740c0bb883c6",
        "name": "Build sync response",
        "func": "// Step 3 of 3: Firebase live data is in msg.payload.\n// Compare dates (all in Malaysia time UTC+8) and reply to ESP32.\nvar liveData = msg.payload || {};\nvar espDate  = flow.get('sync_esp_date') || '';\n\n// Today in Malaysia time (UTC+8)\nvar now      = new Date();\nvar myt      = new Date(now.getTime() + 8 * 3600 * 1000);\nvar todayMYT = myt.toISOString().split('T')[0];\n\n// Convert Firebase updated_at to Malaysia date\n// Format stored: '2026-04-07 15:57:46 UTC'\nvar fbMYTDate = '';\nif (liveData.updated_at) {\n    var d  = new Date(liveData.updated_at.replace(' UTC', 'Z').replace(' ', 'T'));\n    var dm = new Date(d.getTime() + 8 * 3600 * 1000);\n    fbMYTDate = dm.toISOString().split('T')[0];\n}\n\n// Restore only when ESP date, server date AND Firebase data all agree on today\nvar sameDay = (espDate !== '' && espDate === todayMYT && fbMYTDate === todayMYT);\n\nmsg.topic   = 'smartbin/sync_response';\nmsg.payload = JSON.stringify({\n    total_sorted: sameDay ? (liveData.total_sorted || 0) : 0,\n    total_wet:    sameDay ? (liveData.total_wet    || 0) : 0,\n    total_dry:    sameDay ? (liveData.total_dry    || 0) : 0,\n    new_day:      !sameDay,\n    server_date:  todayMYT\n});\nnode.warn('[Sync] ESP=' + espDate + '  FB=' + fbMYTDate + '  server=' + todayMYT + '  sameDay=' + sameDay);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 640,
        "wires": [
            ["9a9b05cf3724d0f9"]
        ]
    },

    {
        "id": "mqtt_in_daily_rst",
        "type": "mqtt in",
        "z": "3d63740c0bb883c6",
        "name": "daily_reset",
        "topic": "smartbin/daily_reset",
        "qos": "1",
        "broker": "mqtt_broker",
        "inputs": 0,
        "x": 110,
        "y": 720,
        "wires": [["fn_build_daily_hist"]]
    },
    {
        "id": "fn_build_daily_hist",
        "type": "function",
        "z": "3d63740c0bb883c6",
        "name": "Build daily_history PUT",
        "func": "var data = {};\ntry {\n    data = (typeof msg.payload === 'object' && msg.payload !== null)\n        ? msg.payload : JSON.parse(msg.payload);\n} catch(e) {}\n\nvar date = data.prev_date || '';\nif (!date) { node.warn('daily_reset missing prev_date'); return null; }\n\nmsg.method  = 'PUT';\nmsg.url     = 'https://smart-bin-78f35-default-rtdb.asia-southeast1.firebasedatabase.app/smartbin/daily_history/bin01/' + date + '.json';\nmsg.headers = { 'Content-Type': 'application/json' };\nmsg.payload = {\n    date:  date,\n    total: data.prev_sorted || 0,\n    wet:   data.prev_wet    || 0,\n    dry:   data.prev_dry    || 0\n};\nnode.warn('[DailyHistory] Writing ' + date + ' total=' + msg.payload.total + ' wet=' + msg.payload.wet + ' dry=' + msg.payload.dry);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 720,
        "wires": [["http_put_daily_hist"]]
    },
    {
        "id": "http_put_daily_hist",
        "type": "http request",
        "z": "3d63740c0bb883c6",
        "name": "PUT Firebase /daily_history",
        "method": "use",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 590,
        "y": 720,
        "wires": [[]]
    }
]
